body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

textarea:focus, input:focus {
  outline: none;
}

.loader {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  margin-top: 75px;
  transform: rotate(-45deg);
  font-size: 0;
  line-height: 0;
  animation: rotate-loader 5s infinite;
  padding: 25px;
  border: 1px solid teal;
}

.segment-holder {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.segment {
  position: absolute;
  background: teal;
}

.one {
  bottom: 0;
  height: 0;
  width: 100%;
  animation: slide-one 1s infinite;
}

.two {
  left: 0;
  height: 100%;
  width: 0;
  animation: slide-two 1s infinite;
  animation-delay: 0.25s;
}

.three {
  right: 0;
  height: 100%;
  width: 0;
  animation: slide-two 1s infinite;
  animation-delay: 0.75s;
}

.four {
  top: 0;
  height: 0;
  width: 100%;
  animation: slide-one 1s infinite;
  animation-delay: 0.5s;
}

@keyframes slide-one {
  0% {
    height: 0;
    opacity: 1;
  }
  12.5% {
    height: 100%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 0;
  }
}
@keyframes slide-two {
  0% {
    width: 0;
    opacity: 1;
  }
  12.5% {
    width: 100%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes rotate-loader {
  0% {
    transform: rotate(-45deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(-135deg);
  }
  45% {
    transform: rotate(-135deg);
  }
  50% {
    transform: rotate(-225deg);
  }
  70% {
    transform: rotate(-225deg);
  }
  75% {
    transform: rotate(-315deg);
  }
  95% {
    transform: rotate(-315deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
/* chat bublles */
.right {
  flex-flow: row-reverse;
  text-align: right;
}

.left {
  flex-flow: row;
  text-align: left;
}

.msg-div {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  font-size: 24px;
  display: flex;
}

.name {
  font-size: 15px;
  color: #bcb7b7;
}

.msg {
  word-wrap: break-word;
  color: #000;
}

.profile-img {
  height: 50px;
  width: auto;
  border-radius: 50px;
}

.date {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #bcb7b7;
}

/* Bubbles */
/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
  z-index: 10;
  margin: 0px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  background-color: #fff;
}

.border {
  border: 8px solid #666;
}

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after {
  z-index: -1;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #fff transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}

.tri-right.left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #fff #fff transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}

.tri-right.btm-left:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent #fff;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}

.tri-right.btm-left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: #fff transparent transparent #fff;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: #fff #fff transparent transparent;
}

/*
    left: -8px;
  right: auto;
  top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
    left: 0px;
  right: auto;
  top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent #fff;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: #fff #fff transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}

.tri-right.right-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #fff transparent transparent #fff;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}

.tri-right.right-top:after {
  z-index: -1;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #fff transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.sign-in-screen {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #7fbb8c;
}

.logo-container {
  height: 35%;
  display: flex;
  align-items: flex-end;
}

.iconlogo {
  height: 150px;
}

.sign-in-inputs-container {
  flex: 1;
  width: 100%;
}
.sign-in-inputs-container .sign-in-input-container {
  width: 100%;
}
.sign-in-inputs-container .sign-in-input-label {
  padding: 0 10px;
}
.sign-in-inputs-container .sign-in-input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid;
  font-size: 20px;
  margin-bottom: 20px;
  background: #af8484;
}
.sign-in-inputs-container .sign-in-input:hover {
  border-bottom: 2px solid #3effa5;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-container {
  width: 100%;
}

.btn {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.accent-color-1 {
  background: linear-gradient(to bottom, #7fbb8c, #a56262, #7fbb8c);
}

.accent-color-2 {
  background: linear-gradient(to bottom, #7fbb8c, #a56262, #7fbb8c);
}

.icon {
  size: 40px;
}

.icon:hover {
  font-size: 55px;
  padding-left: 20px;
  color: black;
}

.copyright {
  bottom: 0;
  text-align: center;
  font-size: 50%;
  padding-top: 50px;
}

.chat-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.chat-header {
  height: 50px;
  /* top and bottom then sides */
  padding: 0px 10px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  align-items: center;
}

.sign-out-btn {
  height: 40px;
  width: 40px;
  color: white;
  background-color: black;
}

.chat-screen-messages-container {
  flex: 1;
  background-color: #0099cc;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-screen-input-container {
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  border-top: 2px solid;
}

.chat-screen-input {
  height: 100%;
  flex: 1;
  font-size: 16px;
}

.chat-screen-send-msg-btn {
  height: 50px;
  width: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.date {
  font-size: 10px;
}

/*# sourceMappingURL=index.css.map */
